body{
    text-align: center;
    color: brown;
    font-family: "Arial";
    
}
.aloja{
    color: chartreuse;
    font-size: 40px;
}
.cabecera{
    color: deepskyblue;
    font-size: 50px;
    background: yellow;
}